modules = ["unity", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Survivor Island Game"

[[workflows.workflow]]
name = "Survivor Island Game"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "unity-hub --headless --no-sandbox --url unityhub://editor/2022.3.22f1 && cd $(pwd) && unity-editor -batchmode -nographics -projectPath . -buildTarget Android -executeMethod BuildPlayer.BuildAndroid -logFile - -quit; echo \"Starting web server...\"; cd Builds/WebGL && python -m http.server 5000"]

[[ports]]
localPort = 5000
externalPort = 80
